mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: darkgoldenrod;
  color: white;
}

mdc-button__label {
  color: white;
  background-color: lightyellow;
}

.spacer {
  flex: 1 1 auto; /* Faz com que o espaço ocupe todo o espaço disponível */
}

#companyLogo {
  background-image: url("https://download.logo.wine/logo/Deutsche_Bank/Deutsche_Bank-Logo.wine.png");
  width: 1%;
  height: 1%;
  display: inline;
  float:left;
  text-align: center;
  margin: 0 auto;
}

#logobox {
  height: 80px;
  margin: -10px 10px 0;
}

#leaflogo {
  height: 30px;
  width: 30px;
  position: absolute;
  margin: -13px -5px 0;
}
